.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.whisper-text {
  color:#1a1e234d;
  font-family: Luminari, fantasy, Bookman, 'URW Bookman L', serif;
  font-size: 225px;
  position: absolute;
  /* margin-bottom: 30%; */
  line-height:80%;
  /* bottom: 60%; */
}

.enter {
  color:#343C47;
  background-color:black;
  font-family: Luminari, fantasy, Bookman, 'URW Bookman L', serif;
  font-size: 64px;
  border-radius: 2em;
  padding: 0.4em .8em;
  border-color: transparent;
  will-change: filter, background-color, color;
  transition: filter 800ms, background-color 800ms, color 800ms;
  position:absolute;
}
.enter:hover {
  filter: drop-shadow(0 0 1em #FFBD3E);
  background-color: rgba(0, 0, 0, 0.674);
  color: #AAFF67;
}